<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrp 4.6 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Font-awesome -->
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="./dist/css/style.css">
    <title>Consulting-Landing</title>
</head>

<body>
    <!-- Vue -->
    <div id="app">
        <!-- Site_Header -->
        <header>
            <div class="container-fluid">
                <div class="row">
                    <nav class="d-flex">
                        <div class="col-7">
                            <img src="./dist/images/logotype.png" alt="">
                        </div>
                        <div class=" col-5 d-flex justify-content-between">
                            <div class="menu_header" v-for="link in headMenuLinks">
                                <a href="">{{link.linkMenu}}</a>
                            </div>
                        </div>
                    </nav>
                    <div class="col-4 titolo">
                        <div class="overtitle">
                            <h6>ALWAYS THE BEST WAY YOU NEED IT</h6>
                        </div>
                        <h1>THE BEST BUSINESS CONSULTING</h1>
                        <div class="bottoni d-flex">
                            <button class="mr-4">
                                READ MORE
                            </button>
                            <span class="align-self-end">
                                <i class="fas fa-caret-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /Site_Header -->
        <!-- Site_Main -->
        <main>
            <!-- section 1 CONSULTANT CAN HELP YOU -->
            <section class="section_1">
                <div class="container-xl">
                    <h4>OUR CONSULTANT CAN HELP YOU</h4>
                    <div class="row">
                        <!-- carte -->
                        <div class="carta col-5 d-flex justify-content-center align-items-start">
                            <div class="icona p-0">
                                <img src="./dist/images/line-chart.png" alt="">
                            </div>
                            <div class="col-10 pl-2">
                                <h6>STATISTICAL CONSULTING</h6>
                                <p>
                                    When, while lovely valley teems with vapour around meand eridian sun strikes the
                                    upper impenetrable foliage of my trees, and but a
                                </p>
                            </div>
                        </div>
                        <div class="carta col-5 offset-2 d-flex justify-content-center align-items-start">
                            <div class="icona p-0">
                                <img src="./dist/images/promotion.png" alt="">
                            </div>
                            <div class="col-10 pl-2">
                                <h6>DIGITAL CONSULTING</h6>
                                <p>
                                    When, while lovely valley teems with vapour around meand eridian sun strikes the
                                    upper impenetrable foliage of my trees, and but a
                                </p>
                            </div>
                        </div>
                        <div class="carta col-5 d-flex justify-content-center align-items-start">
                            <div class="icona p-0">
                                <img src="./dist/images/purse.png" alt="">
                            </div>
                            <div class="col-10 pl-2">
                                <h6>BANKING CONSULTING</h6>
                                <p>
                                    When, while lovely valley teems with vapour around meand eridian sun strikes the
                                    upper impenetrable foliage of my trees, and but a
                                </p>
                            </div>
                        </div>
                        <div class="carta col-5 offset-2 d-flex justify-content-center align-items-start">
                            <div class="icona p-0">
                                <img src="./dist/images/target.png" alt="">
                            </div>
                            <div class="col-10 pl-2">
                                <h6>ENTERPRISE CONSULTING</h6>
                                <p>
                                    When, while lovely valley teems with vapour around meand eridian sun strikes the
                                    upper impenetrable foliage of my trees, and but a
                                </p>
                            </div>
                        </div>
                        <!-- /carte -->
                    </div>
                </div>
            </section>
            <!-- /section 1 CONSULTANT CAN HELP YOU -->

            <!-- section 2 ABOUT US-->
            <section class="section_2">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-7 p-0">
                            <img src="./dist/images/business-people-working-together-on-project-and-5FHSKBL.jpg" alt="">
                        </div>
                        <div class="col-5 p-0 d-flex flex-column justify-content-center">
                            <div class="overtitle">
                                <h6>ABOUT US</h6>
                            </div>
                            <h2>WE MAKE YOUR STRATEGY WORK</h2>
                            <p>
                                When, while lovely valley teems with vapour around meand eridian sun strikes the
                                upper impenetrable foliage of my trees, and but a thousand unknown plants are noticed
                                when I hear the buzz of the little world among the stalks, and grow familiar
                                indescribable forms of the insects and flies, then I feel the presence of the Almighty.
                            </p>
                        </div>
                        <div class="green_banner col-12 p-0 d-flex">
                            <div class="col-3 offset-2 p-0 align-self-center">
                                <h4>WE HELP TO DELIVER THE BUSINESS CASE</h4>
                            </div>
                            <div class="col-4 offset-1 p-0 align-self-center">
                                <p>
                                    When, while lovely valley teems with vapour around meand eridian sun strikes the
                                    upper impenetrable foliage of my trees, and but a thousand unknown
                                </p>
                            </div>
                            <div class="col-2 p-0 d-flex align-items-end justify-content-end">
                                <button>GET STARTED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /section 2 ABOUT US-->

            <!-- section 3 PROJECT-->
            <section class="section_3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 offset-1 p-0">
                            <div class="overtitle">
                                <h6>PROJECT</h6>
                            </div>
                            <!-- titolo e bottoni -->
                            <div class="col-12 d-flex p-0">
                                <div class="col-5 p-0">
                                    <h3>OUR EXPERT TRUSTED CONSULTANTS HELPS CLIENTS</h3>
                                </div>
                                <div class="frecce_album col-1 offset-6 p-0 d-flex justify-content-end">
                                    <button>
                                        <i class="fas fa-arrow-left"></i>
                                    </button>
                                    <button>
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /titolo e bottoni -->
                            <!-- immagini vue -->
                            <div class="immagini col-12 p-0 d-flex justify-content-between mt-4">
                                <div class="immagine p-0 d-flex" v-for="photo in album_photos">
                                    <img class="img-fluid" :src="photo.url" alt="">
                                </div>
                            </div>
                            <!-- immagini vue -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /section 3 PROJECT-->

            <!-- section 4 TESTIMONIAL -->
            <section class="section_4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 offset-1 p-0">
                            <div class="overtitle d-flex justify-content-center">
                                <h6>TESTIMONIAL</h6>
                            </div>
                            <div class="offset-8 col-4 p-0">
                                <h3>WHAT'S THE CUSTOMER SAY ABOUT OUR WORK</h3>
                            </div>
                        </div>
                        <div class="white_banner mt-4">
                            <div class="col-12 d-flex align-items-center justify-content-around mt-4 mb-4">
                                <div class="col-3">
                                    <p>
                                        When, while lovely valley teems with vapour around meand eridian sun strikes
                                        theupper impenetrable foliage of my trees, and but a thousand unknown plants are
                                        noticed when I hear the buzz of the little
                                    </p>
                                    <h5>Vera Duncan</h5>
                                    <span>Amazon.Inc</span>
                                </div>
                                <div class="col-3">
                                    <p>
                                        When, while lovely valley teems with vapour around meand eridian sun strikes
                                        theupper impenetrable foliage of my trees, and but a thousand unknown plants are
                                        noticed when I hear the buzz of the little
                                    </p>
                                    <h5>Vera Duncan</h5>
                                    <span class="">Amazon.Inc</span>
                                </div>
                                <div class="col-3">
                                    <p>
                                        When, while lovely valley teems with vapour around meand eridian sun strikes
                                        theupper impenetrable foliage of my trees, and but a thousand unknown plants are
                                        noticed when I hear the buzz of the little
                                    </p>
                                    <h5>Vera Duncan</h5>
                                    <span>Amazon.Inc</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /section 4 TESTIMONIAL -->

            <!-- section 5 BLOG -->
            <section class="section_5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 offset-1 p-0">
                            <div class="overtitle">
                                <h6>PROJECT</h6>
                            </div>
                            <!-- titolo e bottoni -->
                            <div class="col-12 d-flex p-0">
                                <div class="col-12 p-0 d-flex justify-content-between">
                                    <h3>THE RECENT NEWS YOU MUST READ IT</h3>
                                    <div>
                                        <button>VIEW ALL</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex p-0 mt-4">
                                <div class="immagine_1 col-6 pl-0">
                                    <img class="img-fluid"
                                        src="./dist/images/startup-business-people-and-strategy-board-PAJ3P9K-1390x1042.jpg"
                                        alt="">
                                    <div class="inner_img_1 col-9">
                                        <div class="mb-2">
                                            <span class="mr-4">July 4, 2019</span><span>by paul</span>
                                        </div>
                                        <div class="mb-2">
                                            <h5>Canadian Fonsulting Firm acquired by UK Giant</h5>
                                        </div>
                                        <div>
                                            <p>
                                                When, while lovely valley teems with vapour around meand eridian sun
                                                strikes
                                                theupper impenetrable foliage of my trees, and but a
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="immagine_2 col-6 pr-0">
                                    <img class="img-fluid"
                                        src="./dist/images/business-people-working-together-on-project-and-5FHSKBL-1390.jpg"
                                        alt="">
                                    <div class="inner_img_2 col-9">
                                        <div class="mb-2">
                                            <span class="mr-4">July 4, 2019</span><span>by paul</span>
                                        </div>
                                        <div class="mb-2">
                                            <h5>Canadian Fonsulting Firm acquired by UK Giant</h5>
                                        </div>
                                        <div>
                                            <p>
                                                When, while lovely valley teems with vapour around meand eridian sun
                                                strikes
                                                theupper impenetrable foliage of my trees, and but a
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /section 5 BLOG -->
            
        </main>
        <!-- /Site_Main -->
    </div>
    <!-- Vue JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Main_script -->
    <script src="./dist/js/main.js"></script>
</body>

</html>