footer {
  .section_1 {
    margin-top: $marginContainerFluid;
    background-image: url("/dist/images/business-people-working-together-on-project-and-B3MZ4TX.jpg");
    height: 482px;
    margin-bottom: 6rem;
    .carta_footer_jumbo {
      height: 482px;
    }
    h3 {
      font-size: 45px;
      color: #f3f1f3;
    }
    button {
      @include button;
      background-color: #201e38;
      color: #f3f1f3;
    }
    p {
      @include paragSection;
      font-size: 1rem;
      color: #f3f1f3;
    }
  }
  .section_2 {
    .row {
      .footer_banner_dad {
        .footer_banner_son {
          margin-bottom: 5rem;

          & .menu_footer a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 500;
            color: #757484;
          }
          & .socials i {
            margin-left: 20px;
            font-size: 25px;
            color: #f3f1f3;
          }
        }

        hr {
          background-color: #f3f1f3;
        }

        .terms_of {
          color: #757484;
          height: 100px;

          .div_span {
            margin-bottom: 5px;
          }
          span {
            font-size: 0.9rem;
            a {
              text-decoration: none;
              color: #757484;
            }
          }
        }
      }

      .chat_service {
        position: relative;
        .arrow {
          font-size: 0.8rem;
          background-color: #ffffff;
          padding: 3px 8px;
          border-radius: 50%;
          position: fixed;
          bottom: 35px;
          z-index: 4;
        }

        .chat {
          color: #ffffff;
          font-size: 25px;
          padding: 10px 15px;
          background-color: #527ceb;
          border-radius: 50%;
          position: fixed;
          bottom: 25px;
          right: 25px;
          z-index: 4;
        }
      }
    }
  }
}
