//Header

header {
  //background
  background-image: url("/dist/images/portrait-of-young-architect-woman-on-meeting-KFZCE3A.jpg");
  background-size: 69%;
  background-position-x: right;
  background-repeat: no-repeat;
  margin-bottom: -50px;
  nav {
    width: 100%;
    padding: 1rem 11rem 0;

    & img {
      height: 50%;
    }
    & .menu_header a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500;
      color: white;
    }
  }
  .titolo{
      margin-left: 11rem;
  }
  .overtitle {
    padding-top: 12rem;
    margin-bottom: 3rem;
    display: flex;
    &::before {
      @include greenLine;
      transform: translateX(15%);
    }
    & h6 {
      @include overtitle;
    }
  }

  .bottoni {
    margin-top: 70px;
    margin-bottom: 350px;
    button {
      @include button;
      background-color: $bgButtonAcqua;
      border-color: $bgButtonAcqua;
    }
    span {
      text-align: center;
      padding: 2px 12px 2px 14px;
      border: 1px solid white;
      border-radius: 50%;
      & i {
        font-size: 20px;
        color: $bgButtonAcqua;
      }
    }
  }
}
