main {
  .section_5 {
    .row {
      .overtitle::before {
        @include greenLine;
      }
      h6 {
        @include overtitle;
        color: white;
      }
      h3 {
        color: white;
        margin-top: 1rem;
        display: inline-block;
      }
      button {
        @include button;
        background-color: $bgButtonAcqua;
        &:hover{
          background-color: red;
          color: white;
        }
      }
      .newsBlog_inner img{
        padding: 10px;
      }
      .newsBlog_inner div:first-child {
        position: relative;
        z-index: 1;
        & .inner_img_1 {
          @include whiteBannerSectionFive;
          right: 10px;
          & span {
            @include spanWhiteBanner;
          }
          & p {
            @include paragSection;
          }
        }
        img {
          width: 100%;
         }
      }
    }
  }
}
