main {
  .section_4 {
    margin-bottom: 4rem;
    .row {
      position: relative;
      .overtitle::after {
        @include greenLine;
        right: 0;
        margin-top: 0.9rem;
      }
      h6 {
        @include overtitle;
        display: inline-block;
        color: white;
      }
      h3 {
        color: white;
        margin-top: 1rem;
        text-align: right;
      }
      .white_banner {
        width: $widthCalc;
        margin-left: 11rem;
        background-color: white;

        .testimonial {
          padding: 60px 20px;

          &:hover {
            background-image: url("../images/oliver-ragfelt-488196-2.jpg");
            background-size: 100%;

            p {
              color: lightgrey;
            }
            h5 {
              color: white;
            }
            span:last-child {
              color: lightgrey;
            }
          }
        }
        & p {
          @include paragSection;
        }
      }
    }
  }
}
