@mixin iconsSectionOne {
  height: 55px;
  width: 55px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin overtitle {
  margin-left: 3rem;
  font-size: 0.8rem;
  color: white;
  position: relative;
}
@mixin paragSection {
  font-size: 0.85rem;
  font-weight: 300;
  color: #707070;
}
@mixin greenLine {
  content: "";
  background: $bgButtonAcqua;
  height: 2px;
  width: 45px;
  margin-top: 0.6rem;
  position: absolute;
}
@mixin button {
  all: unset;
  padding: 15px 40px;
  cursor: pointer;
  font-size: 0.6rem;
  word-spacing: 2px;
  letter-spacing: 2px;
}
@mixin whiteBannerSectionFive {
  background-color: white;
  padding:1rem 7rem 2rem 4rem;
  z-index: 3;
  position: absolute;
  top: 65%;
}
@mixin spanWhiteBanner{
  font-size: 0.8rem;
  color: red;
}
